<nav class="navbar navbar-light bg-primary">
    <div class="container fluid">
        <img width="60" height="60" alt="Angular Logo"
            src="https://th.bing.com/th/id/OIP.Kxk8g_02axBSJi3IQ0TxRgHaHa?w=212&h=213&c=7&r=0&o=5&dpr=1.5&pid=1.7" />
        <h2 > Restuarant</h2>
        <div class="d-flex">
            <button routerLink="/Login" class="btn btn-danger mx-3"><b>Login</b></button>
            <button routerLink="/Register" class="btn btn-danger mx-3"><b>Register</b></button>
            <!-- <button routerLink="/Product" class="btn btn-danger mx-3"><b>Products</b></button> 
            <button routerLink="/userCart" class="btn btn-danger mx-3"><b>Cart</b></button>
            <button routerLink="/Contact" class="btn btn-danger mx-3"><b>Contact</b></button>              -->
        </div>
    </div>
  </nav>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>